@model IEnumerable<Trainer.Models.TrainingExercise>

@{
    ViewData["Title"] = "Training exercises";
}

<h1>Training exercises</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by client name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Training ID
            </th>
            <th>
                Client name
            </th>
            <th>
                Training date
            </th>
            <th>
                Exercise
            </th>
            <th>
                Rounds
            </th>
            <th>
                Repetitions
            </th>
            <th>
                MaxWeight
            </th>
            <th>
                Comments
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Training)
            </th>*@

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.TrainingID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Training.Client.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Training.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Exercise.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rounds)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Repetitions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxWeight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Training.TrainingID)
                    </td>*@

                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>