@model Trainer.Data.PagedResult<Trainer.Models.ViewModels.TrainingExerciseModel>

@{
    ViewData["Title"] = "Training exercises";
}

<h1>Training exercises</h1>

<p>
    <a asp-action="Create">Create new training exercise</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by client name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Client name
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">Training date</a>
                </th>
                <th>
                    Exercise
                </th>
                <th>
                    Rounds
                </th>
                <th>
                    Repetitions
                </th>
                <th>
                    Max weight
                </th>
                <th>
                    Comments
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Results)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrainingDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExerciseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rounds)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Repetitions)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaxWeight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comments)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <vc:pager result="Model" view-name="Default" />
</div>