@model Trainer.Models.ViewModels.TrainingModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Training</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientName)
        </dd>
        <dt class="col-sm-2">
           Exercises done
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Exercise name
                        </th>
                        <th>
                            Rounds
                        </th>
                        <th>
                            Repetitions
                        </th>
                        <th>
                            Max weight
                        </th>
                        <th>
                            Comments
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TrainingExercises)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Exercise.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rounds)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Repetitions)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaxWeight)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comments)
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID"  class="btn btn-danger">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
