@model Trainer.Models.ViewModels.ClientModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartWeight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartWeight) kg
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentWeight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentWeight) kg
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WeightChange)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WeightChange) kg
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Height) cm
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdditionalInfo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trainings)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Training date</th>
                </tr>
                @foreach (var item in Model.Trainings)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.ID"  class="btn btn-danger">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

